td {
    width: 100px;
    height: 100px;
}

/* class .vertical used for td border */
.vertical {
    border-left: 2px solid black;
    border-right: 2px solid black;

}

/*horizontal class added to middle row td*/
.horizontal{
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}